@import url(./shared/mensagemValidacao.css);

* {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  background: url(../assets/images/new-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 100vh;
}

#form-cadastro {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  width: 70%;
  min-width: 350px;
  max-width: 80%;
  height: 96vh;
  padding: 2%;
  /* margin-right: 0.5vh; */
  border-radius: 5px;
  border: 1px solid #194283;

  Overflow-y: scroll;
}

#form-cadastro::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

#form-cadastro::-webkit-scrollbar-thumb {
  background-color: #194283;
}

#botao-cadastrar-cliente {
  background-color: #194283;
  border: 1px solid #194283;
  border-radius: 0;
}

.erro:focus {
  box-shadow: 0 1px 1px 0 rgba(255, 0, 0, 0.2), 0 1px 1px 0 rgba(255, 0, 0, 0.19) !important;
  outline-style: 1px solid black !important;
  border: 1px solid red !important;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}