.button-return{
    background-color: white; 
    width: 48%; 
    height:10vh; 
    margin: auto; 
    margin-top: 1.5vh;
    border-radius: 4px;
    border: 1px solid #194283;

    cursor: pointer;
}

.button-clean-cart{
    background-color: white; 
    width: 48%; 
    height:10vh; 
    margin: auto; 
    margin-top: 1.5vh;
    border-radius: 4px;
    border: 1px solid #194283;

    cursor: pointer;
}


.button-finalize{
    background-color: #194283; 
    width: 98%;
    height:10vh; 
    margin: auto; 
    margin-top: 1.5vh;
    border-radius: 4px;

    cursor: pointer;
}

.payment-area{
    width: 98%; 
    height:75vh; 
    margin: auto; 
    margin-top: 1vh;

    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.products-area{
    width: 98%;
    height: 98vh;
    margin: auto;
    margin-top: 1vh;

    background-color: white;
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;

    padding: 0.1% 1%;
}

.products-item{
    width: 100%;
    height: 80px;
    margin: 1vh auto;


    border-radius: 1px;

    display: flex;
    justify-content: center;
    padding: 0.8%;

    box-shadow: 0.5px 2px 0.5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.first-infos{
    width: 80%;
    height: 100%;

    display: flex;
}

.image-item{
    width: 100px;
    height: 100%;
}
.image-item img {
    width: 100px;
    height: 100%;
}
.description-item{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-left: 10px;
}
.description-item h4 {
    display: block;
    margin: auto 0;

    color: #194283;
}
.description-item h6 {
    text-align: start;
}

.second-infos{
    width: 20%;
    height: 100%;

    display: inline-grid;
    justify-content: end;
}
.form-outline .control-count{
    cursor: text;
}
.control-count{
    width: 40px;
    height: 30px;
    border-radius: 2px;
    background-color: white;

    border: 1px solid #194283;

    text-align: center;

    cursor: pointer ;
}

.container-description{
    display: inline-grid;
}

.area-control{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
}

.delete-button{
    width: 100%;
    height: 30px;


    /* background-color: red; */
    /* border: 1px solid rgb(184, 1, 1); */
    border-radius: 2px;

    display: flex;
    justify-content: center;
}
.delete-button p {
    margin: auto 0;
    color: rgb(112, 112, 112);
    font-weight: 400;

    cursor: pointer;
}

.delete-button i {
    cursor: pointer;
}

.fa-regular{
    color: rgb(112, 112, 112);
    margin: auto 5px;
}
.payment-value{
    width: 100%;
    height: 50%;
}
.payment-itens{
    width: 80%;
    height: 100%;



    display: block;
    margin: 0 auto;
}
.payment-products{
    width: 100%;
    height: 70%;

    border-bottom: 1px solid rgb(43, 43, 43);

}
.payment-total{
    width: 100%;
    height: 30%;
    padding: 0 4%;
}

.payment-frete, .payment-total-products, .payment-sale{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
}

.second-description{
    display: flex;
    justify-content: space-between;
}
.second-description h4 {
    margin-right: 50px;
}
.container-description{
    width: 100%;
}