.img-logo {
    margin: auto;
    height: 45px;
    width: 200px;
    padding: 0;
    
}

.navbar-toggler {
    position: absolute;
}

nav {
    border-bottom: 0px solid #194283;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)
}

.secondary-navigator {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.primary-color{
    fill: #194283;
    color: #194283;
}