.img-logo {
    margin: auto;
    height: 45px;
    width: 200px;
    padding: 0;

}

.navbar-toggler {
    position: absolute;
}

nav {
    border-bottom: 0px solid #194283;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)
}

.nav-item {
    display: flex;
}

.nav-link {
    margin: auto;
}

.secondary-navigator {
    display: flex;
    justify-content: space-around;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.primary-color {
    fill: #194283;
    color: #194283;
}

#cart-button,
#setting-button {
    cursor: pointer;
}

#area-configuracoes {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    margin-right: 2%;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid #194283;
    border-radius: 5px;


    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #194283;
}

#area-configuracoes ul {
    margin: auto;
    background-color: white;
    height: 80%;
    width: 80%;
}

#deslogar {
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 77%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cart-logo {
    display: flex;
}

.cart-logo svg {
    margin: auto;
}

#canva-quantidade-carrinho {
    width: 20px;
    height: 20px;
    background: #cd0f0f;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 12.5px;
    margin-left: -10px;
    display: none;
}

#quantidade-carrinho {
    display: flex;
    margin: auto;
    color: white;
    font-size: 10px;
}

.no-selectable {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
}